<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "unnamed.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>I've been coding for about two months now, but am still very error prone. However, my artistic skills prove a valuable asset seeing as I enjoy HTML and CSS coding, but do know a passable amount of Ruby on Rails. I've been doing art for five years, which started with me drawing cartoon horses but has now evolved into me drawing my own characters from worlds I or others have created. I tend to do traditional art with Copics or watercolors. I've been doing digital art for three years, but I still prefer traditional whenever I can. I've been writing for about four years now. I enjoy writing Fantasy as well as Realistic Fiction, but am always up for a challenge. Over the past two years I've started two original works. Dimansion, which is a collaboration with two others and myself, the story is set in a Fantasy world and told through the eyes of three different characters. The other story, Dream Chasers is a very large work in progress. I would love to offer any of these services. If you're interested at all, please visit the Contact page for all my contact information. </p>
      </div>
    </div>
  </div>
</div>