<h1>Get in touch with me!</h1>

<p> My phone number: </p>
<p><%= number_to_phone "3852905422" %></p>

<p>My Email: </p>
<p><a href="mailto:Natalie@smileynet.com?subjectPortfolioContact" "email me">Email me</a> </p>

<div class"col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3030.516821742132!2d-111.9424621842274!3d40.5743461793471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875288af5741fd75%3A0xac17da6cd643ca4d!2sIkaros+Ln%2C+South+Jordan%2C+UT+84095!5e0!3m2!1sen!2sus!4v1501046051589" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>