<div class="inner cover">
  <h1 class="cover-heading">Welcome!</h1>
  <p class="lead">Here you'll find some lines of code from a programmer prepetually stuck in amature hour, stories that twist words and hearts alike, as well as art that confuses you just as much as it confuses me. Click below to find a little bit more about me!</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>